table{
 background-color: brown;   
}
th{
color: cyan;
font-size:25px;
text-transform: capitalize;
text-align: center;
}
td{
color: cyan;
font-size: 20px;
text-transform: capitalize;
text-align: center;
}









